{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col-sm">
      <h2>Flight {{flight_info.id}}</h2>
    </div>
  </div>
  <table class="table table-borderless">
    <tr>
      <th>Departure</th>
      <td>{{flight_info.departure_port.abbr}}</td>
      <td>{{dep_date}}</td>
      <td>{{dep_time}}</td>
    </tr>
    <tr>
      <th>Arrival</th>
      <td>{{flight_info.arrival_port.abbr}}</td>
      <td>{{arr_date}}</td>
      <td>{{arr_time}}</td>
    </tr>
    <tr>
      <th>Craft</th>
      <td>{{flight_info.craft.model}}</td>
      <td>{{flight_info.craft.numberOfSeats}} seats</td>
    </tr>
  </table>
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Book Flight
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <form action="/booking/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="flight_id" value="{{flight_info.id}}">
      <input type="hidden" name="username" value="{{username}}">
      <div class="row">
        <div class="col">
          <label for="exampleSelect1">First Name</label>
          <input type="text" class="form-control" name="first_name" value="{{first_name}}">
        </div>
        <div class="col">
          <label for="exampleSelect1">Last Name</label>
          <input type="text" class="form-control" name="last_name" value="{{last_name}}">
        </div>
        <div class="col">
          <label for="exampleSelect1">Seats</label>
          <select class="form-control" id="exampleSelect1" name="seats">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>

    </form>
  </div>
</div>

{% endblock content %}