{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col-sm">
      <h2>Flight {{flight_info.id}}</h2>
    </div>
  </div>
  <table class="table table-borderless">
    <tr>
      <th>Departure</th>
      <td>{{flight_info.departure_port.abbr}}</td>
      <td>{{dep_date}}</td>
      <td>{{dep_time}}</td>
    </tr>
    <tr>
      <th>Arrival</th>
      <td>{{flight_info.arrival_port.abbr}}</td>
      <td>{{arr_date}}</td>
      <td>{{arr_time}}</td>
    </tr>
    <tr>
      <th>Craft</th>
      <td>{{flight_info.craft.model}}</td>
      <td id="seats-total"><i class="fas fa-spinner fa-pulse"></i></td>
      <td id="seats-remain"><i class="fas fa-spinner fa-pulse"></i></td>
    </tr>
  </table>
  <p>
    <button class="btn btn-primary d-none" id="book-flight" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Book Flight
    </button>
    <button class="btn btn-primary d-none" id="log-in" type="button">
      Log In to Book Flight
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <form action="/booking/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="flight_id" value="{{flight_info.id}}">
      <input type="hidden" id="username" name="username" value="{{username}}">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <tbody id="passengers">
              <thead>
                <th scope="col" colspan="2">Add Passengers</th>
                <th style="width: 1em;"></th>
              </thead>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}