{% extends 'base.html' %}

{% block content %}
{% if login_form == True %}
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mx-auto mt-2 h-100 border-0 shadow" style="width: 25rem;">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
          <div class="btn btn-primary" id="login">Log In</div>
      </div>
      </form>
    </div>
  </div>
</div>
{% else %}

{% endif %}
{% endblock content %}